@charset "UTF-8";
		h1 { color : #333333;}
		h2 { color:#333333; font:26.6667px;}
		h5, p {color:#666666;}
		p { fotn-size :18.4px;}
		img {width:220px;}
		* {text-align:center;}
		.txt1{font-size:16px;}
	